.wrapper{
    width: 100vw;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;

}

.insideWrapper{
    width: 98%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    
    .leftPart{
        width: auto;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;

        .burgerContainer{
            width: 48px;
            height: 48px;
            border-radius: 100%;

            .burgerLines{
                width: 24px;
                height: 24px;
            }
        }

        .LogoContainer{
            width: auto;
            height: 40px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            gap: 10px;
            
            .Logo{
                width: 38px;
                height: 38px;
                background: url("../../../public/HeaderAssets/email2.svg");
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
            }

            .LogoP{
                font-size: 24px;
                margin: 0;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                color: rgb(51, 51, 51);

            }
        }
    }

    .rightPart{
        width: auto;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .about{
            width: 48px;
            height: 48px;
            display: flex;
            justify-content: center;
            align-items: center;

            .svg{
                width: 24px;
                height: 24px;

                background: url("../../../public/HeaderAssets/circled.svg");
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }
        }

        .setting{
            width: 48px;
            height: 48px;
            display: flex;
            justify-content: center;
            align-items: center;

            .svg{
                width: 24px;
                height: 24px;

                background: url("../../../public/HeaderAssets/setting.svg");
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }
        }

        .userAvatar{
            width: 48px;
            height: 48px;
            border-radius: 100%;
            background: black;

            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
}



.burgerContainer {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    cursor: pointer;

    span {
        width: 24px;
        height: 2px;
        background: rgb(0, 0, 0);
        transition: 0.3s ease;
    }
}

.active {
    span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    span:nth-child(2) {
        opacity: 0;
    }

    span:nth-child(3) {
        transform: rotate(-45deg) translate(6px, -6px);
    }
}


/* overlay */
.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 98;
}

/* settings panel */
.settingsPanel {
    position: fixed;
    top: 0;
    right: 0;
    width: 320px;
    height: 100vh;
    background: #fff;
    z-index: 99;
    padding: 20px;

    transform: translateX(100%);
    transition: transform 0.35s ease;

    box-shadow: -4px 0 20px rgba(0, 0, 0, 0.15);
}

.open {
    transform: translateX(0);
}

/* крестик */
.close {
    position: absolute;
    top: 16px;
    right: 16px;
    font-size: 22px;
    cursor: pointer;
    user-select: none;
    color: black;
}
