.wrapper {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: #000; 
}

.leftPartBackground {
  position: absolute;
  width: 55vw;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
  left: 0;
  top: 0;
  transition: background-image 1s ease-in-out;
}


.insideWrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 3;
}

.leftPart {
  width: 45%;
  height: 100vh;
  padding: 60px;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;

  .leftPartInsCont {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .LogInTitle {
      width: 280px;
      height: 90px;

      .LogInTitleP {
        font-size: 29px;
        font-family: Poppins, sans-serif;
        font-weight: normal;
        color: #b4b4b4;
        line-height: 1.4;
      }
    }

    .bottomPart {
      width: 100%;
      height: 62px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .switcher {
        width: 60%;
        height: 44px;
        display: flex;
        justify-content: space-between;

        .SignUpSwitcher,
        .LoginSwitcher {
          width: 173px;
          height: 44px;
          border-radius: 22px;
          background: transparent;
          font-size: 16px;
          font-family: Poppins, sans-serif;
          color: white;
          cursor: pointer;
          transition: all 0.3s ease;

          &:hover {
            background-color: rgba(255, 255, 255, 0.1);
          }
        }

        .SignUpSwitcher {
          border: none;
        }

        .LoginSwitcher {
          border: none;
        }
      }

    }
  }
}

.rightPart {
  width: 55%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
    background: #000;

  clip-path: polygon(
    8% 0,     
    100% 0, 
    100% 100%,
    0 100%   
  );


  .formContainer {
    width: 58%;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    .titleContainer {
      .title {
        font-size: 46.5px;
        font-weight: bold;
        font-family: "PoppinsB", sans-serif;
        color: white;
      }

      .subTitle {
        font-size: 16px;
        font-weight: normal;
        font-family: Poppins, sans-serif;
        color: rgb(201, 201, 201);
      }
    }

    .form {
      width: 100%;
      height: 330px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      backdrop-filter: blur(2px);
      transition: all 0.5s ease;
      animation: fadeSlide 0.5s ease;

      .inputs {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;

        input {
          width: 100%;
          height: 58px;
          border: 1px solid white;
          border-radius: 8px;
          background: transparent;
          padding: 0 12px;
          font-size: 14px;
          color: white;
          font-family: Poppins, sans-serif;
          outline: none;
          transition: 0.3s ease;

          &::placeholder {
            color: rgba(255, 255, 255, 0.6);
          }

          &:focus {
            border-color: #00adef;
            background: rgba(255, 255, 255, 0.05);
          }
        }
      }

      .anotherLogIn {
        width: 50%;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;

        .orDivider {
          width: 100%;
          height: auto;
          display: flex;
          justify-content: space-between;
          align-items: center;

          .line {
            width: 35%;
            border: 0.5px solid grey;
          }

          .orP {
            font-size: 16px;
            font-weight: normal;
            color: white;
            margin: 0;
          }
        }

        .otherLogIn {
          width: 100%;
          height: 32px;
          display: flex;
          justify-content: space-between;

          .googleLogInIcon,
          .facebookLogInIcon,
          .microsoftLogInIcon {
            width: 32px;
            height: 32px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            cursor: pointer;
            transition: transform 0.2s ease;

            &:hover {
              transform: scale(1.1);
            }
          }

        }
      }

      .logInButton {
        width: 100%;
        height: 43px;
        border-radius: 22px;
        border: 0;
        font-size: 16px;
        font-weight: 400;
        font-family: system-ui, sans-serif;
        background: #00adef;
        color: white;
        cursor: pointer;
        transition: 0.3s ease;

        &:hover {
          background: #0095d1;
        }
      }

      .switchToAnotherRegister {
        .p {
          font-size: 12px;
          font-family: system-ui, sans-serif;
          color: #b4b4b4;

          a {
            font-size: 12px;
            color: #00adef;
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }


    .icons {
      width: 60%;
      height: 24px;
      display: flex;
      justify-content: space-between;

      .iconCont {
        cursor: pointer;

        .iconInstagram,
        .iconFacebook,
        .iconYoutube,
        .iconTwitter {
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }

        .iconInstagram {
          width: 24px;
          height: 24px;
          background: url("../../../public/logIn/linksIcon/instagram.svg");
        }

        .iconFacebook {
          width: 24px;
          height: 24px;
          background: url("../../../public/logIn/linksIcon/facebook.svg");
        }

        .iconYoutube {
          width: 35px;
          height: 24px;
          background: url("../../../public/logIn/linksIcon/youtube.svg");
        }

        .iconTwitter {
          width: 24px;
          height: 24px;
          background: url("../../../public/logIn/linksIcon/twitter.svg");
        }
      }
    }
  }
}



@keyframes fadeSlide {
  from {
    opacity: 0;
    transform: translateX(30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}